<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArjunTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E73D99C1DDC564100AC23E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E73D9B51DDC564100AC23E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E73D9C01DDC564100AC23E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
